/.venv
/.venv_pagina_geti.rar
/EVALUACION CARLOS FLOREZ Y JUAN CUMBE
/EVALUACION CARLOS FLOREZ Y JUAN CUMBE.zip
/EVALUACION.zip
/paginageti
/programacion 2
/programacion 3
/prueba.py
/TRABAJO
/TRABAJO (2).zip
/TRABAJO (3).zip
/TRABAJO.zip